@font-face {
  font-family: 'smct-iconfont';  /* project id 266910 */
  src: url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.eot');
  src: url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.woff') format('woff'),
  url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.svg#iconfont') format('svg');
}

.oxmod-smct-works {
  text-align: center;
  &:active{
    background-color: transparent;
  }
  .bgcolor-1 {
    background-color: #0b97c4;
  }

  .bgcolor-2 {
    background-color: yellow;
  }

  .bgcolor-3 {
    background-color: red;
  }

  .bgcolor-4 {
    background-color: rosybrown;
  }

  .bgcolor-5 {
    background-color: green;
  }

  .bgcolor-6 {
    background-color: greenyellow;
  }

  .bgcolor-7 {
    background-color: gray;
  }

  .bgcolor-8 {
    background-color: gold;
  }

  .bgcolor-9 {
    background-color: blueviolet;
  }

  .bgcolor-10 {
    background-color: silver;
  }

  .bgcolor-11 {
    background-color: chocolate;
  }

  .bgcolor-12 {
    background-color: cadetblue;
  }

  .color-1 {
    background-color: #fff;
  }

  .color-2 {
    background-color: yellow;
  }

  .color-3 {
    background-color: red;
  }

  .color-4 {
    background-color: rosybrown;
  }

  .color-5 {
    background-color: green;
  }

  .color-6 {
    background-color: greenyellow;
  }

  .color-7 {
    background-color: gray;
  }

  .color-8 {
    background-color: gold;
  }

  .color-9 {
    background-color: #0099cc;
  }

  .color-10 {
    background-color: silver;
  }

  .color-11 {
    background-color: chocolate;
  }

  .color-12 {
    background-color: cadetblue;
  }

  @import "card";

  .snapshot {
    width: 150px;
    height: 195px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    padding-top:7px;

  }

  .snapshot > .preview {
    transform: scale(.25);
    transform-origin: 0 0;
    margin: 0;
    margin-left:13px;
  }

  .works > .snapshot > .bt-x {
    margin-top: 2px;
    margin-left: 130px;
  }
  .works > .selected {
    border: solid 1px #f60;
    border-radius: 10px;
    background-color: #eee;
  }
  .snapshot-op {
    font-size: 12px;
    color: #666;
    position: absolute;
    margin-top: 150px;
    width: 150px;
  }
  .snapshot-op > p {
    margin: 0;
    padding: 1px 3px;

  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  .list > .selected {
    background-color: #f5f5f5;
    > .preview {
      opacity: .7;
    }
  }
  .fix-flex {
    &:after {
      content: ' ';
      width: 150px;
    }
  }
  .radio {
    text-align: center;
    padding: 0;
  }
  .listbar {
    color: #333;
    font-size: 0;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    > span {
      font-size: 14px;
      display: inline-block;

      overflow: hidden;
      &:first-child {
        width: 70%;
        text-align: left;
      }
      &:last-child {
        width: 30%;
        text-align: right;
      }
    }
  }
  .bt-del, .bt-order {

  }
  .bt-del {
    background-color: transparent;
    border: none;
    color: #0099cc;
    &:disabled {
      color: #aaa;
    }
  }
  .bt-order {
    background-color: #f10;
    width: 80px;
    color: #fff;
    display: inline-block;
    border: none;
    height: 40px;
    padding: 0 10px;
    vertical-align: top;
    font-size: 15px;
    letter-spacing: 5px;
    &:disabled {
      background-color: #999;
    }
    &:hover {
      opacity: .8;
    }
  }
  .empty {
    text-align: center;
    padding: 30px 0;
    color: #888;
  }
  .iconfont {
    font-family: smct-iconfont;
    font-style: normal;
  }
  .loading {
    color: #999;
    padding: 30px 0;
  }

}