@font-face {
  font-family: 'smct-iconfont';
  /* project id 266910 */
  src: url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.eot');
  src: url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.woff') format('woff'), url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.ttf') format('truetype'), url('//at.alicdn.com/t/font_0w3gcy6pjd29be29.svg#iconfont') format('svg');
}
.oxmod-smct-works {
  text-align: center;
}
.oxmod-smct-works:active {
  background-color: transparent;
}
.oxmod-smct-works .bgcolor-1 {
  background-color: #0b97c4;
}
.oxmod-smct-works .bgcolor-2 {
  background-color: yellow;
}
.oxmod-smct-works .bgcolor-3 {
  background-color: red;
}
.oxmod-smct-works .bgcolor-4 {
  background-color: rosybrown;
}
.oxmod-smct-works .bgcolor-5 {
  background-color: green;
}
.oxmod-smct-works .bgcolor-6 {
  background-color: greenyellow;
}
.oxmod-smct-works .bgcolor-7 {
  background-color: gray;
}
.oxmod-smct-works .bgcolor-8 {
  background-color: gold;
}
.oxmod-smct-works .bgcolor-9 {
  background-color: blueviolet;
}
.oxmod-smct-works .bgcolor-10 {
  background-color: silver;
}
.oxmod-smct-works .bgcolor-11 {
  background-color: chocolate;
}
.oxmod-smct-works .bgcolor-12 {
  background-color: cadetblue;
}
.oxmod-smct-works .color-1 {
  background-color: #fff;
}
.oxmod-smct-works .color-2 {
  background-color: yellow;
}
.oxmod-smct-works .color-3 {
  background-color: red;
}
.oxmod-smct-works .color-4 {
  background-color: rosybrown;
}
.oxmod-smct-works .color-5 {
  background-color: green;
}
.oxmod-smct-works .color-6 {
  background-color: greenyellow;
}
.oxmod-smct-works .color-7 {
  background-color: gray;
}
.oxmod-smct-works .color-8 {
  background-color: gold;
}
.oxmod-smct-works .color-9 {
  background-color: #0099cc;
}
.oxmod-smct-works .color-10 {
  background-color: silver;
}
.oxmod-smct-works .color-11 {
  background-color: chocolate;
}
.oxmod-smct-works .color-12 {
  background-color: cadetblue;
}
.oxmod-smct-works .preview {
  border-radius: 40px;
  width: 500px;
  height: 500px;
  margin: 10px auto;
  box-shadow: 0px 0px 5px #999;
  overflow: hidden;
  border: solid 1px #ccc;
  font-family: sans-serif;
  text-align: center;
}
.oxmod-smct-works .qrcode {
  margin-top: 40px;
  width: 280px;
  height: 280px;
  padding: 5px;
  border: solid 1px #ccc;
}
.oxmod-smct-works .card-header {
  color: #fff;
  font-size: 85px;
  letter-spacing: 5px;
  height: 120px;
  line-height: 120px;
  font-family: '黑体', sans-serif;
  font-weight: 700;
  transform: scale(1, 1.2);
  text-shadow: 5px -5px 1px #444;
  overflow: hidden;
}
.oxmod-smct-works .card-body {
  background-color: #fff;
  height: 340px;
}
.oxmod-smct-works .card-footer {
  height: 41px;
  line-height: 40px;
  font-size: 18px;
  color: #666;
  background-color: #fff;
  letter-spacing: 1px;
  margin-top: -1px;
  /**解决缩放有条线的问题*/
}
.oxmod-smct-works .snapshot {
  width: 150px;
  height: 195px;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 10px;
}
.oxmod-smct-works .snapshot > .preview {
  transform: scale(0.3);
  transform-origin: 0 0;
  margin: 0;
}
.oxmod-smct-works .central {
  position: absolute;
  margin-left: 210px;
  margin-top: 150px;
  width: 78px;
  height: 78px;
  text-align: center;
  line-height: 78px;
  overflow: hidden;
}
.oxmod-smct-works .central-bg {
  background-color: #fff;
}
.oxmod-smct-works .central img {
  width: 78px;
  height: 78px;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 5px;
}
.oxmod-smct-works .works > .snapshot > .bt-x {
  margin-top: 2px;
  margin-left: 130px;
}
.oxmod-smct-works .works > .selected {
  border: solid 1px #f60;
  border-radius: 10px;
  background-color: #eee;
}
.oxmod-smct-works .snapshot-op {
  font-size: 12px;
  color: #666;
  position: absolute;
  margin-top: 150px;
  width: 150px;
}
.oxmod-smct-works .snapshot-op > p {
  margin: 0;
  padding: 1px 3px;
}
.oxmod-smct-works .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.oxmod-smct-works .list > .selected {
  background-color: #f5f5f5;
}
.oxmod-smct-works .list > .selected > .preview {
  opacity: .7;
}
.oxmod-smct-works .fix-flex:after {
  content: ' ';
  width: 150px;
}
.oxmod-smct-works .radio {
  text-align: center;
  padding: 0;
}
.oxmod-smct-works .listbar {
  color: #333;
  font-size: 0;
  height: 40px;
  line-height: 40px;
  background-color: #f5f5f5;
}
.oxmod-smct-works .listbar > span {
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
}
.oxmod-smct-works .listbar > span:first-child {
  width: 70%;
  text-align: left;
}
.oxmod-smct-works .listbar > span:last-child {
  width: 30%;
  text-align: right;
}
.oxmod-smct-works .bt-del {
  background-color: transparent;
  border: none;
  color: #0099cc;
}
.oxmod-smct-works .bt-del:disabled {
  color: #aaa;
}
.oxmod-smct-works .bt-order {
  background-color: #f10;
  width: 80px;
  color: #fff;
  display: inline-block;
  border: none;
  height: 40px;
  padding: 0 10px;
  vertical-align: top;
  font-size: 15px;
  letter-spacing: 5px;
}
.oxmod-smct-works .bt-order:disabled {
  background-color: #999;
}
.oxmod-smct-works .bt-order:hover {
  opacity: .8;
}
.oxmod-smct-works .empty {
  text-align: center;
  padding: 30px 0;
  color: #888;
}
.oxmod-smct-works .iconfont {
  font-family: smct-iconfont;
  font-style: normal;
}
.oxmod-smct-works .loading {
  color: #999;
  padding: 30px 0;
}
